{% extends 'admin.html.twig' %}

{% block title %}{{'Editing Project :: Dashboard'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Edit Project'|trans}}</h1>

    {{ include('dashboard/project/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('dashboard/project/_delete_form.html.twig') }}
{% endblock %}
