{% extends 'admin.html.twig' %}

{% block title %}{{ 'Creating new Project :: Dashboard' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Create new Project' | trans }}</h1>

    {{ include('dashboard/project/_form.html.twig') }}
{% endblock %}
