{% extends 'admin.html.twig' %}

{% block title %}{{'Editing static page :: Dashboard'|trans}}{% endblock %}

{% block body %}
    <h1>{{'Editing static page'|trans}}</h1>

    {{ include('dashboard/static_page/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('dashboard/static_page/_delete_form.html.twig') }}
{% endblock %}
