{% extends 'admin.html.twig' %}

{% block title %}Edit PageMetaTags{% endblock %}

{% block body %}
    <h1>Edit PageMetaTags</h1>

    {{ include('dashboard/page_meta_tags/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('dashboard/page_meta_tags/_delete_form.html.twig') }}
{% endblock %}
