{% extends 'admin.html.twig' %}

{% block title %}{{'Editing Meta Tags :: Dashboard' | trans}}{% endblock %}

{% block body %}
    <h1>{{'Editing Meta Tags' | trans}}</h1>

    {{ include('dashboard/page_meta_tags/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('dashboard/page_meta_tags/_delete_form.html.twig') }}
{% endblock %}
