@import "variables";

.content-grid {
  box-sizing: border-box;
  padding-top: 85px;
  padding-bottom: 85px;

  --content-grid-gap: 35px;

  &.content-grid-hero {
    background-color: #D9D9D9;
  }

  .content-grid-header {
    margin-bottom: 38px;
  }

  .content-grid-body {
    display: flex;
    width: 100%;

    &.content-grid-body-hero {
      align-items: flex-end;
    }

    .image, .content {
      width: 50%;
      flex-grow: 0;
      flex-shrink: 0;
      box-sizing: border-box;
    }

    .image {
      img {
        max-width: 100%;
        vertical-align: middle;
      }
    }

    & > div {
      &:first-child {
        padding-right: var(--content-grid-gap);
      }

      &:last-child {
        padding-left: var(--content-grid-gap);
      }
    }

    .content {
      p {
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.06em;
        color: var(--base-text-color);
        font-style: normal;
      }
    }
  }
}
