@import "variables";

.language-dropdown {
  background-color: #ffffff;
  position: relative;
  margin-left: 8px;

  .current-language {
    padding: 5px 19px 6px 11px;
    color: var(--primary-color);
    user-select: none;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.05em;

    position: relative;

    &::after {
      content: '';
      background-image: url('/assets/frontend/arrow-down.png');
      display: block;
      width: 8px;
      height: 5px;
      position: absolute;
      top: 13px;
      right: 8px;
    }
  }

  &:not(:hover) {
    .available-languages {
      display: none;
    }
  }

  .available-languages {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;

    .language-option {
      display: block;
      padding: 5px 19px 6px 11px;
      text-decoration: none;
      color: var(--base-text-color);
      font-weight: 500;
      letter-spacing: 0.05em;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
