.header {
  --header-height: 650px;
  --local-z-index: 99;

  background-color: black;
  height: var(--header-height);

  padding-top: 38px;
  box-sizing: border-box;
  position: relative;

  .header-navigation {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 99;

    align-items: center;
    justify-content: flex-end;

    .logo {
      margin-right: auto;

      img {
        vertical-align: middle;
      }
    }

    .popup-menu {
      display: flex;
      position: absolute;
      top: -3px;
      left: -15px;
      box-sizing: border-box;
      padding: 21px 31px 32px 20px;
      background-color: black;
      z-index: var(--local-z-index);

      &.invisible {
        display: none;
      }

      .close-icon {
        margin-right: 12px;

        a {
          text-decoration: none;
        }
      }

      .items {
        display: flex;
        flex-direction: column;

        span {
          color: white;
          font-weight: 900;
          letter-spacing: 0.05em;
          font-size: 16px;
          line-height: 19px;
          margin-bottom: 15px;
        }

        a {
          color: white;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 0.05em;
          margin-bottom: 10px;
          text-decoration: none;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    & > a {
      font-weight: 600;
      letter-spacing: 0.05em;
      color: white;

      text-decoration: none;
      position: relative;
      display: block;

      &.menu {
        display: none;
        user-select: none;
        z-index: calc(var(--local-z-index) - 1);

        &:hover {
          &::after {
            display: none;
          }
        }

        img {
          vertical-align: middle;
        }
      }

      &:not(.logo) {
        margin-right: 45px;

        &:hover {
          &::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #D9D9D9;
          }
        }
      }
    }
  }

  .header-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 97;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(black, 1) 0%, rgba(black, 0.65) 30%, transparent 100%), rgba(black, 0.2);
      z-index: 98;
    }

    .header-image, img {
      height: var(--header-height);
      max-width: 100%;
      width: 100%;
      object-fit: cover;
      vertical-align: middle;

      max-width: 100%;
      object-position: center;
    }
  }
}
