@import "variables";

.popup-container {

  --popup-content-width: 970px;
  --popup-content-paddings: 30px 70px;

  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(38, 38, 38, 0.45), rgba(38, 38, 38, 0.45));
  top: 0;
  left: 0;
  overflow-y: scroll;

  &.hidden {
    display: none;
  }

  .popup-content {
    width: var(--popup-content-width);
    margin: 0 auto;
    margin-top:    150px;
    margin-bottom: 150px;
    background-color: #ffffff;

    .popup-header {
      position: relative;

      img, picture {
        vertical-align: middle;
        max-width: 100%;
        width: 100%;
        object-fit: cover;
      }

      .close-button {
        position: absolute;
        top: 21px;
        right: 24px;
      }
    }

    .content {
      box-sizing: border-box;
      padding: var(--popup-content-paddings);

      h1 {
        margin-bottom: 24px;
      }

      & > *:not(h1) {
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.06em;
        color: var(--base-text-color);
      }

      p {
        text-indent: 20px;
      }
    }
  }
}
