:root {
  --base-container-width: 1170px;
  --base-font-size: 1rem;
  --base-line-height: 19px;
  --base-text-color: #282828;
  --dark-text-color: #1C1C1C;
  --light-text-color: #ffffff;
  --base-dark-color: #1A1919;
  --footer-background-color: var(--base-dark-color);

  --primary-color: #0F488B;
  --primary-light-color: #0500FF;

  --button-focus-background-color: #1A6CCC;
  --button-focus-text-color: #ffffff;

  --button-active-background-color: var(--primary-color);
  --button-active-text-color: #ffffff;
}
