<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{#    <link rel="shortcut icon" href="./public/favicon.ico" type="image/x-icon">#}
    {% if dashboard.pageMetaTags != null and dashboard.pageMetaTags.title is not empty %}
    <title>{{ dashboard.pageMetaTags.title }}</title>
    {% else %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% endif %}
</head>
<body>
    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}
</body>
</html>
