{% extends 'admin.html.twig' %}

{% block title %}{{'Editing Product :: Dashboard'}}{% endblock %}

{% block body %}
    <h1>{{'Edit Product'|trans}}</h1>

    {{ include('dashboard/product/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('dashboard/product/_delete_form.html.twig') }}
{% endblock %}
