{% extends 'admin.html.twig' %}

{% block title %}{{'Editing Product :: Dashboard' | trans}}{% endblock %}

{% block body %}
    <h1>{{'Create new Product' | trans}}</h1>

    {{ include('dashboard/product/_form.html.twig') }}
{% endblock %}
