{% extends 'admin.html.twig' %}

{% block title %}{{ 'Editing Partner :: Dashboard'|trans }}{% endblock %}

{% block body %}
    <h1>{{'Edit Partner'|trans}}</h1>

    {{ include('dashboard/partner/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('dashboard/partner/_delete_form.html.twig') }}
{% endblock %}
