{% extends 'admin.html.twig' %}

{% block title %}{{ 'Create a Partner :: Dashboard' | trans }}{% endblock %}

{% block body %}
    <h1>{{'Creating a Partner'|trans}}</h1>

    {{ include('dashboard/partner/_form.html.twig') }}
{% endblock %}
